div.feed-component.row
    div.feed-component__main-column.col-xs-8
        div.feed-component__post
            post-component
        div.feed-component__post
            post-component
    div.feed-component_sidebar.col-xs-4
        