.header.row.center-xs
  .header__offset.row
    .col-xs-3.row.start-xs.middle-xs
      img.header__logo(src='images/logo.png', alt='Hmm...')
    .col-xs-6.row.start-xs.middle-xs
      i.header__search-icon.fa.fa-search(aria-hidden='true')
      input.header__search-bar(type='text', placeholder='Search...')
      a.header__action-buttons(href='#')
        i.fa.fa-bell-o(aria-hidden='true')
      a.header__action-buttons(href='#')
        i.fa.fa-music(aria-hidden='true')
    .col-xs-3.row.end-xs
      a(routerLink='/profile').header__profile-button.row.middle-xs
        strong.header__user-name Oleg
        img.header__avatar(src='http://placehold.it/50x50', alt='Avatar')
