nav 
    ul.navigation-menu__list
        li.navigation-menu__list-element
            a(routerLink='/profile').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-home
                p.navigation-menu__link-text My Profile
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-newspaper-o
                p.navigation-menu__link-text News
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-comments
                p.navigation-menu__link-text Messages
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-user
                p.navigation-menu__link-text Friends
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-users
                p.navigation-menu__link-text Communities
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-camera
                p.navigation-menu__link-text Photos
        li.navigation-menu__list-element
            a(routerLink='/feed').navigation-menu__link
                i(aria-hidden='true').navigation-menu__link-icon.fa.fa-music
                p.navigation-menu__link-text Audios