div.post-component
    div.post-component__user-info.row.middle-xs
        img(src="http://placehold.it/60x60").post-component__avatar
        div.post-component__text-wrapper
            a(href="#").post-component__user-name John Doe
            p.post-component__date 2k17
    div.post-component__content 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore pariatur hic tempora quam animi provident ipsum, voluptate harum dolorem deserunt vero sapiente, quos, aspernatur tenetur, veritatis modi debitis quidem cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id beatae laborum rem reiciendis, omnis architecto libero ut! Nobis natus, distinctio nesciunt eveniet eum odit beatae minus, obcaecati dolorem, non, iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque labore numquam quibusdam! Cum quae ea beatae corrupti. Doloremque ipsum iusto modi autem est dicta qui eveniet. Magni distinctio rem consectetur?
    div.post-component__footer