div.profile-information-component
    div.profile-information-component__header
        p.profile-information-component__user-name John Doe
        p.profile-information-component__status Time is money
    div.profile-information-component__information.row
        table.profile-information-component__table
            tr.profile-information-component__row
                td.profile-information-component__info-name.profile-information-component__cell Age
                td.profile-information-component__info-value.profile-information-component__cell 34
            tr.profile-information-component__row
                td.profile-information-component__info-name.profile-information-component__cell City
                td.profile-information-component__info-value.profile-information-component__cell Australia
            tr.profile-information-component__row
                td.profile-information-component__info-name.profile-information-component__cell Languages
                td.profile-information-component__info-value.profile-information-component__cell English, Japanese
    div.profile-information-component__footer.row.around-xs
        like-button-component
        like-button-component
        like-button-component