/node_modules
/bower_components
/public/storage
/public/vendor
/public/fonts/**
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
/typings
.env
**/*.map
bundle.js.map
/public/js/bundle.js.map