include ../setup/_config.pug

header-component
+b.application.row
    div.col-xs-3
        navigation-menu-component
        +e.login-component-wrapper
            login-component
    div.col-xs-9
        router-outlet