include ../setup/_config.pug

+b.feed-component.row
    +e.main-column.col-xs-8
        +e.post
            post-component
        +e.post
            post-component
        +e.post
            post-component
    +e.sidebar.col-xs-4
        