include ../setup/_config.pug

+b.header.row.center-xs
  +e.offset.row.around-xs
    .col-xs-3.row.start-xs.middle-xs
      +e.IMG.logo(src='images/logo.png', alt='Hmm...')
    .col-xs-6.row.start-xs.middle-xs
      +e.I(aria-hidden='true').search-icon.fa.fa-search
      +e.INPUT(type='text', placeholder='Search...').search-bar
      +e.A(routerLink='/feed').action-button
        i(aria-hidden='true').fa.fa-bell
      +e(routerLink='/feed').action-button
        i.fa.fa-music(aria-hidden='true')
    .col-xs-3.row.end-xs
      +e.A(routerLink='/login').profile-button.row.middle-xs
        +e.STRONG.user-name John Doe
        +e.IMG(src='http://placehold.it/50x50').avatar
