include ../setup/_config.pug

+b.login-component
    +e.P.label E-Mail
    +e.INPUT(type="email", name="email").entry
    +e.P.label Password
    +e.INPUT(type="password", name="password").entry
    br
    br
    +e.INPUT(type="button", value="Login").button
    +e.INPUT(type="button", value="Register").button
    +e.A(href="/feed").forgot Forgot Password?