include ../setup/_config.pug

+b.post-component
    +e.user-info.row.middle-xs
        +e.IMG(src='http://placehold.it/60x60').avatar
        +e.text-wrapper
            +e.A(routerLink='/feed').user-name John Doe
            +e.P.date Today at 9:31 AM
    +e.content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore pariatur hic tempora quam animi provident ipsum, voluptate harum dolorem deserunt vero sapiente, quos, aspernatur tenetur, veritatis modi debitis quidem cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id beatae laborum rem reiciendis, omnis architecto libero ut! Nobis natus, distinctio nesciunt eveniet eum odit beatae minus, obcaecati dolorem, non, iure! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque labore numquam quibusdam! Cum quae ea beatae corrupti. Doloremque ipsum iusto modi autem est dicta qui eveniet. Magni distinctio rem consectetur?
    +e.footer
        like-button-component