@import '../setup/_variables'
@import '../setup/_mixins'

$_header-component__icons--size: 23px
$_header-component__icons--color: white
$_header-compoennt__height: 60px

.header
    background-color: $color__primary
    height: $_header-compoennt__height
    width: 100%
    margin: 0 !important
    position: fixed
    top: 0
    left: 0
    +element('offset')
        height: 100%
        width: $main-column__width
    +element('logo')
        height: 18px
    +element('search-icon')
        font-size: $_header-component__icons--size
        color: $_header-component__icons--color
    +element('search-bar')
        font-family: Roboto-Medium
        border: none
        border-radius: 100px
        height: 35px
        margin: 0 10px 0 10px
        width: 200px
        color: white
        padding-left: 15px
        background-color: $color__primary--light
        &::-webkit-input-placeholder
            color: white
        &:focus
            background-color: white
            color: $color__primary--light
            outline: none
    +element('action-button')
        color: $_header-component__icons--color
        font-size: $_header-component__icons--size
        height: 100%
        line-height: $_header-compoennt__height
        width: $_header-compoennt__height
        text-align: center
        &:hover
            background-color: $color__primary--light
    +element('profile-button')
        font-family: Roboto-Bold
        letter-spacing: 1px
        color: white
        text-decoration: none
        &:hover
            background-color: $color__primary--light
    +element('avatar')
        border-radius: 100px
        width: 40px
        height: 40px
    +element('user-name')
        margin-right: 10px
