@import '../setup/_variables'
@import '../setup/_mixins'

$_navigation-menu__icon--size: 19px

.navigation-menu
    width: 200px
    +e('link')
        color: $color__primary--dark
        text-decoration: none
        display: block
        padding: 8px
        height: $_navigation-menu__icon--size
        border-radius: $border-radius__main
        width: 90%
        &:hover
            background-color: $color__grey
    +e('link-icon')
        font-size: $_navigation-menu__icon--size
        color: $color__primary--light
        float: left
    +e('link-text')
        font-family: Roboto-Light
        line-height: $_navigation-menu__icon--size
        margin-left: 40px
    +e('list-e')
        margin: 5px 0
    +e('list')
        list-style: none
