@import '../setup/_mixins'
@import '../setup/_variables'

.post-component
    // background-color: #FAFAFA
    border-radius: 5px
    overflow: hidden
    border: 0.5px solid $color__primary--light
    height: 700px
    flex-direction: column
    +element('user-info')
        height: 100px
        width: 100%
        padding: 20px
    +element('content')
        height: 500px
        width: 100%
        padding: 15px
        background-color: cyan
    +element('footer')
        height: 100px
        background-color: orange
        width: 100%
    +element('avatar')
        border-radius: 100px
        display: inline-block
        margin-left: 15px
    +element('user-name')
        font-family: Roboto-Medium
        text-decoration: none
        color: $color__primary
    +element('text-wrapper')
        display: inline-block
        margin-left: 20px
    +element('date')
        color: darkgrey
        font-size: 14px